@using MyEverything.ThisMvc.Entities.DTOs
@model ProjectInfo

<div>
    <div>
        <img src="@Model.Image" class="img-fluid"> </img>
    </div>
    
    <h1>@Model.Title</h1>
    <p> @Model.Explanation</p>

</div>
